<div style="position: absolute; top: 0px; left: 0px; width: 100%">
  <div>
    <div
      class="ant-tooltip css-dev-only-do-not-override-1km3mtt ant-tooltip-placement-bottom"
      style="left: {{left}}px; top: {{top}}px; transform-origin: 50% -16px"
    >
      <div class="ant-tooltip-content">
        <div class="ant-tooltip-arrow"><span class="ant-tooltip-arrow-content"></span></div>
        <div class="ant-tooltip-inner" role="tooltip">
          <p>{{name}}</p>
          <p>{{setX}}</p>
          <p>{{setY}}</p>
          <p>{{setZ}}</p>
          <p>{{status}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
